<section>
	<h2>
		Reactive Calculator
	</h2>
</section>
<section>
	<label>Label</label>
	<label>Formula</label>
	<label>Result</label>
</section>
<section class="main-section">
	<article>
		<div class="article-div">
			<input type="text" name="label">
		</div>
		<div class="article-div">
			<input type="text" name="label">
		</div>
		<div class="article-div">
			<p>
				52
			</p>
		</div>
	</article>
	<article>
		<div class="article-div">
			<input type="text" name="label">
		</div>
		<div class="article-div">
			<input type="text" name="label">
		</div>
		<div class="article-div">
			<p>
				52
			</p>
		</div>
	</article>
</section>
<section class="bottom-section">
	<button>Add row</button>
</section>