@model CalculatorModel

<section>
	<h2>
		Reactive Calculator
	</h2>
</section>

<section>
	<label>Label</label>
	<label>Formula</label>
	<label>Result</label>
</section>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
	<section class="main-section">
	@if (Model != null && Model.calculatorState.Count > 0)
		{
			@for (var rowNo = 0; rowNo < Model.calculatorState.Count; rowNo++)
			{
				<article>
					<div class="article-div">
						<input asp-for="calculatorState[rowNo].label" type="text">
					</div>
					<div class="article-div">
						<input asp-for="calculatorState[rowNo].formula" type="text">
					</div>
					<div class="article-div">
						<input asp-for="calculatorState[rowNo].result" disabled type="text">
					</div>
				</article>
			}
		}
		else
		{
			<article>
				<div class="article-div">
					<input asp-for="calculatorState[0].label" type="text">
				</div>
				<div class="article-div">
					<input asp-for="calculatorState[0].formula" type="text">
				</div>
				<div class="article-div">
				<input asp-for="calculatorState[0].result" disabled type="text">
				</div>
			</article>
		}
	</section>
	<section class="bottom-section">
		<button type="submit" class="submit" formaction='@Url.Action("Calculate", "Home", FormMethod.Post)' method="POST">Calculate</button>
		<button type="submit" class="addRow" formaction='@Url.Action("AddRow", "Home", FormMethod.Post)' method="POST">Add row</button>
	</section>
}