* {
}

html,
body {
  font-family: Arial;
  background-color: beige;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

.main-section {
  flex-direction: column;
}

.bottom-section {
  justify-content: space-around;
  margin-left: 10vw;
  margin-top: 5vh;
}

.submit {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 15vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.addRow {
  background-color: #5D4CAF;
   border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

article {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1vh;
}

.article-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 33%;
}